In [8]:
import pandas as pd

In [9]:
pd.read_csv("PM10.csv")

,date,min,max,median,q1,q3,stdev,count
0,2021-09-07T00:00:00.000Z,18.3,72.9,29.1,27.20,31.50,11.482,330
1,2021-09-08T00:00:00.000Z,6.1,65.1,18.2,15.30,45.90,17.134,578
2,2021-09-09T00:00:00.000Z,5.6,12.9,9.4,8.00,10.50,1.678,586
3,2021-09-10T00:00:00.000Z,1.0,7.5,4.7,3.80,5.50,1.303,569
4,2021-09-11T00:00:00.000Z,0.9,12.0,5.2,3.90,6.10,1.954,575
...,...,...,...,...,...,...,...,...
708,2023-11-15T00:00:00.000Z,0.6,18.8,5.0,2.60,6.70,3.579,616
709,2023-11-16T00:00:00.000Z,1.4,17.3,5.8,4.60,10.50,3.709,636
710,2023-11-17T00:00:00.000Z,0.6,30.3,12.5,9.30,17.50,6.822,630
711,2023-11-18T00:00:00.000Z,0.0,143.6,1.8,0.85,5.25,10.518,612
712,2023-11-19T00:00:00.000Z,0.0,10.2,3.4,1.70,4.80,1.660,603